{% extends 'base.html' %}

{% block content %}

<div class="responsive-table">
    <table class="table table--lined table--wrapped" aria-label="Wrapped table example">
        <thead>
            <tr>
                <th class="sortable">Event Severity<span class="sort-indicator icon-dropdown"></span></th>
                <th>Event Name</th>
                <th>Event Description</th>
            </tr>
        </thead>
        <tbody>
        {% for event in dnac_events %}
            <tr>
              <td>{{ event.severity }}</td>
              <td>{{ event.name }}</td>
              <td>{{ event.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
