{% extends 'base.html' %}

{% block content %}
	<div class="row dbl-margin-bottom">
		<div class="col-12">
			<div class="panel panel--raised" style="background-color: #f2f2f2; text-align:center;">
				<form method="post">
					<div class="row">
						<div class="col-2"></div>
						<div class="col-8">
							<h1>{% block title %}<u>Services</u>{% endblock %}</h1>
						</div>
						<div class="col-2"></div>
					</div>
					<div class="row base-margin-bottom">
						<div class="col-2"></div>
						<div class="col-8">
							<div class="responsive-table">
								<table class="table">
									<thead>
										<tr>
											<th></th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><h5>DNA-Center:</h5></td>
											<td>
                        {% if dnac_status == True %}
												  <button class="btn btn--circle btn--success btn--large">
													  <span class="icon-check"></span>
												</button>
                        {% else %}
												  <button class="btn btn--circle btn--danger btn--large">
													  <span class="icon-exit"></span>
                        {% endif %}
											</td>
											<td><h5>Prime:</h5></td>
											<td>
                        {% if prime_status == True %}
												  <button class="btn btn--circle btn--success btn--large">
													  <span class="icon-check"></span>
												</button>
                        {% else %}
												  <button class="btn btn--circle btn--danger btn--large">
													  <span class="icon-exit"></span>
                        {% endif %}
											</td>
										</tr>
										<tr>
											<td><h5>BMC Remedy:</h5></td>
											<td>
                        {% if bmc_status == True %}
												  <button class="btn btn--circle btn--success btn--large">
													  <span class="icon-check"></span>
												</button>
                        {% else %}
												  <button class="btn btn--circle btn--danger btn--large">
													  <span class="icon-exit"></span>
                        {% endif %}
											</td>
											<td><h5>MKSFT Teams:</h5></td>
											<td>
                        {% if mksft_teams_status == True %}
												  <button class="btn btn--circle btn--success btn--large">
													  <span class="icon-check"></span>
												</button>
                        {% else %}
												  <button class="btn btn--circle btn--danger btn--large">
													  <span class="icon-exit"></span>
                        {% endif %}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="panel panel--raised" style="background-color: #f2f2f2; text-align:center;">
				<div class="row">
					<div class="col-2"></div>
					<div class="col-8">
						<h1><u>Event Logs</u></h1>
					</div>
					<div class="col-2"></div>
				</div>
				<div class="row base-margin-bottom">
					<div class="col-2"></div>
					<div class="col-4">
            <h5><u>DNA-Center</u></h5>
            <ul style="list-style-type:none">
              {% for event in dnac_events %}
              <li>{{ event['name'] }}: {{ event['description'] }}</li>
              <br>
              {% endfor %}
            </ul>
					</div>
          <div class="col-4">
            <h5><u>Prime Infrastructure</u></h5>
            <ul style="list-style-type:none">
              {% for event in prime_events %}
                <li>event</li>
              {% endfor %}
            </ul>
          </div>
					<div class="col-2"></div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
